@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

body {
    background-color: skyblue;
    /* color:lightslategray; */
    font-family: 'Times New Roman', Times, serif;
}
.body-container{
    margin-top: 100px;
}
